root = true

[*]
charset = utf-8
singleQuote=false
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[docker-compose.yml]
indent_size = 2


[*.{ts,tsx,js,jsx,json,html,css,scss,sass,php,py,rb,java,go,md,yml,yaml}]
indent_size=2